:root{
    /* color */
    /* 배경색 */
    --color-bg-header:#161616;
    --color-bg:#ececec;
    --color-bg-dark:#181613;
    --color-bg-footer:#3A3A3A;
    --color-bg-1:#e4e4e4;
    /* 문자색 */
    --color-text-light-3:#f1f1f1;
    --color-text-light-2:#f2f3f4;
    --color-text-light-1:#E2E2E2;
    --color-text-light:#c1c1c1;
    --color-text:#575757;
    --color-text-dark:#000000;
    --color-text-invert:#ffffff;
    /* 메인색상 */
    --color-fg-light-1:#D48700;
    --color-fg-light:#944813;
    --color-fg:#5E2808;
    --color-fg-secondary:#334DCF;

    /* Font size */
    --font-large:48px;
    --font-medium:26px;
    --font-regular:18px;
    --font-small:16px;
    --font-micro:7px;

    /* Font weight */
    --weight-bold:700;
    --weight-semi-bold:600;
    --weight-regular:400;

    
    /* Size */
    --size-border-radius: 4px;
}

/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 4px 0;
}

*{ 
    box-sizing : border-box;
}

body{
    margin: 0;
    cursor: default;
}

a{
    text-decoration: none;
    color: var(--color-text-light-3);
}



#navbar{
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 16px;
    color:var(--color-text-light-1);
    background-color: var(--color-bg-header);
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.narbar__menu{
    cursor: pointer;
}


#menu__fruit img{
    width: 200px;
    height: 150px;
    padding-left: 20px;
    margin-bottom: 30px;
}

#menu__cookie img{
    width: 200px;
    height: 150px;
    display: block; 
    margin: 0px auto;
}

#menu__coffee img{
    width: 200px;
    height: 150px;
    display: block; 
    margin-left: auto;
    padding-right: 20px;
    margin-bottom: 20px;
}

#menu__home img{
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
}


#home{
    background-image: url('/imgs/home.jpg') ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-position:100%;
}

#menu__home{
    text-align: center;
}

.home__paragraph{
    font-size: var(--font-micro);
    padding-top: 390px;
    margin-top: 0px;
    margin-bottom: 5px;

}

.home__sentence{
    font-size: var(--font-small);
    font-weight: var(--weight-bold);
    margin: 0;
}

#menu__home{
    color: var(--color-text-light-1);
    padding: 0;
}



#menu{
    background-image: url('/imgs/backGround.jpg') ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: var(--color-text-light-2);
}




#menu__cookie{
    align-items: center;
}



#footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu__fruit h1{
    padding-top: 20px;
    padding-left: 20px;
    margin: 0px;
    text-align: left;
    font-size: var(--font-medium);
}

#menu__fruit p{
    padding: 10px 20px;
    font-size: var(--font-micro);
}

#menu__fruit span{
    color: var(--color-fg-light);
}


#menu__cookie h1{
    font-size: var(--font-medium);
    text-align: center;
}

#menu__cookie p{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 30px;
    text-align: center;
    font-size: var(--font-micro);
}

#menu__cookie span{
    color: var(--color-fg-light-1)
}



#menu__coffee h1{
    font-size: var(--font-medium);
    text-align: right;
    padding-right: 20px;

}

#menu__coffee p{
    padding-top: 0px;
    padding-right: 20px;
    text-align: right;
    font-size: var(--font-micro);
}

#menu__coffee span{
    color: var(--color-fg)
}


#menu__location{
    background-image: url('/imgs/location.jpg');
    background-size: 100% 100%;
    width: 100vw;
    height: 40vh;
}

#menu__location h1{
    font-size: var(--font-small);
    text-align: center;
    padding-top: 60px;
    /* margin: 0 auto; */
}

/* #menu__location p{
    margin-bottom: 0;
    font-size: var(--font-small);
} */

.location2 p{
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    font-size: var(--font-micro);
}

#footer{
    padding-top: 10px;
    background-color: var(--color-bg-footer);
    color: var(--color-text-light-2);
}

#footer h1{
    font-size: var(--font-micro);
    justify-content: center;
    text-align: center;
    padding: 5px 5px;
    border-style: solid;
    width: 100px;
    margin: 0 auto;
    border-color: var(--color-text-light-2);
}

#footer h2{
    font-size: var(--font-micro);
    justify-content: center;
    text-align: center;    
}

#footer p{
    font-size: var(--font-micro);
    justify-content: center;
    text-align: center;    
}